/* AUTHOR your CSS Styles Here */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  overflow-y: hidden;
  cursor: pointer;
}

:root {
  --calculator-background: #fff;
  --display-screen: #e1efff;
  --primary-color: #000;
  --primary-btn-background: #e1efff;
  --secondary-btn-background: #89c0ff;
  --clear-btn-background: #00dec3;
  --separator-color: #d0d0d0;
}

body.darkmode {
  --calculator-background: #0d0d0d;
  --display-screen: #1c1c1c;
  --primary-color: #fff;
  --primary-btn-background: #1c1c1c;
  --secondary-btn-background: #89c0ff;
  --clear-btn-background: #00dec3;
  --separator-color: #3c3c3c;
}

body {
  display: flex;
  font-family: sans-serif;
  background: #e5e5e5;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* --------------->DARK/LIGHT TOGGLE BUTTON <-------------*/

/* Toggle Container */
.toggle-container {
  position: fixed;
  top: -1rem;
  left: 0;
  margin: 1rem;
  z-index: 1000;

  & .btn {
    display: flex;
    margin: 2rem auto;
    width: 5.5rem;
    height: 2.4rem;
    padding: 0.2rem 0.2rem;
    background: #d0e5fd;
    border-radius: 6.25rem;
    position: relative;
  }
  /* toggle indicator */
  & .btn_indicator {
    background: #333;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
  }

  & .btn_icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  & .btn_icon {
    font-size: 1.5rem;
    color: khaki;
  }
}
/* Toggle dark mode  */
.darkmode .btn_indicator {
  transform: translateX(3rem);
  background-color: white;
}

.darkmode .btn {
  background-color: #a9d1ff;
}

.darkmode .btn_icon {
  font-size: 1.5rem;
  color: #333;
}

body.darkmode {
  background-color: #1f1f1f;
}

.darkmode button {
  background-color: #1fa2ff11;
  color: #29a8ff;
}

.darkmode .container {
  background: #141414;
}

.darkmode .display {
  color: #ffffff;
}

.darkmode #clear {
  background-color: rgba(103, 255, 103, 0.068);
  color: forestgreen;
}

.darkmode #delete {
  background-color: rgba(255, 132, 132, 0.11);
  color: rgb(255, 88, 88);
}

.darkmode .btn-equal,
.darkmode .btn-operator1 {
  background-color: #ffd28e23;
  color: #ffc977;
}

.darkmode footer {
  color: gray;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  margin: 0 auto;
}

/* Center the container div */
.container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1rem 1rem;
  width: 296px;
}

/* Style the calculator display */
.display {
  margin: auto;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
  padding: 1rem;
  text-align: right;
  max-width: 84vw;
  height: 9rem;
  font-size: 2.5rem;
}

table {
  border-spacing: 0.5rem;
}
/* Style the calculator buttons */
button {
  border: none;
  border-radius: 0.5rem;
  background-color: #e9f6ff;
  color: #29a8ff;
  font-size: 1rem;
  font-weight: 400;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}
td.col-span {
  width: 60%;
}
button#zero {
  width: 100%;
}
button#equal {
  height: 7.5rem;
}

/* Style numeric buttons */
.btn-number {
  padding: 1rem;
}

/* Style equal and operator button */
.btn-equal,
.btn-operator1 {
  background-color: #fff7eb;
  color: #ffc977;
  font-size: 2rem;
  font-weight: 500;
}

/* Style copyright text */
p {
  text-align: center;
  margin-top: 1.5rem;
}
span {
  font-weight: bold;
}

/* Independent styling */
#clear {
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(237, 255, 237);
  color: rgb(52, 90, 52);
}

#delete {
  font-size: 2rem;
  font-weight: 500;
  background-color: rgb(255, 231, 231);
  color: rgb(255, 88, 88);
}

/* Creating the mobile responsive screens */
@media screen and (max-width: 45rem) {
  body {
    width: 100vw;
    max-height: 100vh;
  }
  .container {
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .display {
    height: 20vh;
    align-items: flex-end;
    line-height: 2.5rem;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  button {
    width: 20vw;
    padding: 8%;
    height: 5rem;
  }
  button#equal {
    height: 10.5rem;
  }
}
