/* AUTHOR your CSS Styles Here */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: sans-serif;
  background: #141414;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* --------------->DARK/LIGHT TOGGLE BUTTON <-------------*/

/* Toggle Container */
.toggle-container {
  position: fixed;
  top: -1rem;
  right: 0;
  margin: 1rem;
  z-index: 1000;

  & .btn {
      display: flex;
      margin: 2rem auto;
      width: 5.5rem;
      height: 2.4rem;
      padding: 0.2rem 0.2rem;
      background: #fff;
      border-radius: 100px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      cursor: pointer;
      position: relative;
    }
             /* toggle indicator */
    & .btn_indicator {
      background: black;
      width: 2rem;
      height: 2rem;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 50%;
      position: absolute;
    }
    
   & .btn_icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform .9s ease-in-out;
    }
    
   & .btn_icon {
      font-size: 1em;
      color: aquamarine;
    }

   
    
  
}
         /* Toggle dark mode  */
         .darkmode .btn_indicator {
           transform: translateX(3em);
           background-color: white;
         }
    
         body.darkmode {
           background-color: #451952;
         }
    
         .darkmode .btn_icon {
           color: pink;
         }
    
         .darkmode button {
           color: #29A8FF;
           background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
           box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
         }
    
         .darkmode .container {
           background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
         }
    
         .darkmode footer {
           color: gray;
           font-weight: 500;
         }
    button {
      /* width: 2.5rem; */
      width: 100%;
      aspect-ratio: 1;
      border-radius: 10px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  
    footer {
      display: flex;
      justify-content: center;
      font-size: 12px;
      margin: 0 auto;
    }

/* Theme toggleing */
.theme-toggle{
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  font-size: 16px;
  border-radius: 1rem;
  background-color: #333;
  color: #f5f5f5;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
}

.theme-toggle.active{
  background-color: #f5f5f5;
  color: #333;
}

.theme-toggle.active::before{
  background-color: #fff;  
}

.theme-toggle::before{
  content: '';
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #333;
  transition: all 0.3s ease;
  z-index: -1;
}

/* Center the container div */
.container {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

/* Style the calculator display */
.display {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 3.5rem;
  text-align: right;
  width: 100%;
  height: 9rem;
  margin-bottom: 0.5rem;
  color: #acacac;
}

/* Styling the toggle */
/* .toggle-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  font-size: 16px;
  border-radius: 1rem;
  background-color: #333;
  color: #f5f5f5;
  padding: 0.5rem;
  cursor: pointer;
} */

table{
  border-spacing: .5rem;
}
/* Style the calculator buttons */
button {
  border: none;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
}
td.col-span{
  width: 100%;
}
button#zero{
  width: 100%;
}
button#equal{
  height: 9.125rem;
}

/* Style numeric buttons */
.btn-number {
  padding: 1rem;
}

/* Style equal and operator button */
.btn-equal,
.btn-operator1 {
  background-color: #fff7eb;
  color: #ffc977;
  font-size: 32px;
  font-weight: 500;
}

/* Style copyright text */
p {
  text-align: center;
  margin-top: 1.5rem;
}
span {
  font-weight: bold;
}

/* Independent styling */
#clear {
  font-size: 1rem;
  background-color: rgb(255, 231, 231);
  color: rgb(255, 88, 88);
}

#delete{
  background-color: rgb(237, 255, 237);
  color: forestgreen;
  font-size: 32px;
  font-weight: 500;
}

/* Creating the mobile responsive screens */
@media screen and (max-width: 45rem) {
  body {
    width: 100vw;
    max-height: 100vh;
  }
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .display {
    height: 20vh;
    align-items: flex-end;
    line-height: 40px;
  }
  button {
    width: 20vw;
    padding: 8%;
    height: 5rem;
  }
  button#equal{
    height: 10.125rem;
  }
}
