/* AUTHOR your CSS Styles Here */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

:root {
  --calculator-background: #FFF;
  --display-screen: #E1EFFF;
  --primary-color: #000;
  --primary-btn-background: #E1EFFF;
  --secondary-btn-background: #89C0FF;
  --clear-btn-background: #00DEC3;
  --separator-color: #D0D0D0;
}

body.darkmode {
  --calculator-background: #0D0D0D;
  --display-screen: #1C1C1C;
  --primary-color: #fff;
  --primary-btn-background: #1C1C1C;
  --secondary-btn-background: #89C0FF;
  --clear-btn-background: #00DEC3;
  --separator-color: #3C3C3C;
}

body {
  display: flex;
  font-family: sans-serif;
  background: linear-gradient(108deg, #FEB761 0%, #FED584 100%);
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* --------------->DARK/LIGHT TOGGLE BUTTON <-------------*/

/* Toggle Container */
.toggle-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  z-index: 1000;

  & .btn {
    display: flex;
    margin: 2rem auto;
    width: 5.5rem;
    height: 2.4rem;
    padding: 0.2rem 0.2rem;
    background: #fff;
    border-radius: 6.25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0rem 3.375rem 3.4375rem,
      rgba(0, 0, 0, 0.12) 0rem -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0rem .25rem .375rem,
      rgba(0, 0, 0, 0.17) 0rem .75rem .8125rem, rgba(0, 0, 0, 0.09) 0rem -0.1875rem .3125rem;
    cursor: pointer;
    position: relative;
  }
  /* toggle indicator */
  & .btn_indicator {
    background: #333;
    width: 2rem;
    height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0rem 3.375rem 3.4375rem,
      rgba(0, 0, 0, 0.12) 0rem -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0rem .25rem .375rem,
      rgba(0, 0, 0, 0.17) 0rem .75rem .8125rem, rgba(0, 0, 0, 0.09) 0rem -0.1875rem .3125rem;
    border-radius: 50%;
    position: absolute;
  }

  & .btn_icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  & .btn_icon {
    font-size: 1.5rem;
    color: khaki;
  }
}
/* Toggle dark mode  */
.darkmode .btn_indicator {
  transform: translateX(3rem);
  background-color: white;
}

.darkmode .btn {
  background-color: #333;
}

.darkmode .btn_icon {
  font-size: 1.5rem;
  color: #333;
}

body.darkmode {
  background-color: #1a1a1a;
}

.darkmode button {
  background-color: #1fa2ff11;
  color: #29a8ff;
}

.darkmode .container {
  background: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
}

.darkmode #clear {
  background-color: rgba(103, 255, 103, 0.068);
  color: forestgreen;
}

.darkmode #delete {
  background-color: rgba(255, 132, 132, 0.11);
  color: rgb(255, 88, 88);
}

.darkmode .btn-equal,
.darkmode .btn-operator1 {
  background-color: #ffd28e23;
  color: #ffc977;
}

.darkmode footer {
  color: gray;
}

footer {
  display: flex;
  justify-content: center;
  font-size: .75rem;
  margin: 0 auto;
}

/* Center the container div */
.container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 0.2rem 1rem ;
  box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
}

.border {
  background-color: rgba(255, 255, 255, 0.484);
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

/* Style the calculator display */
.display {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
  padding: 0.5rem;
  text-align: right;
  width: 100%;
  height: 9rem;
  margin-bottom: 0.5rem;
  border-radius:0 0 1rem 1rem;
  font-size: 2.5rem;
  max-width: 16.6rem;
  color: var(--primary-color);
  background-color: var(--display-screen);
  overflow: hidden;
}

table {
  border-spacing: 0.5rem;
}
/* Style the calculator buttons */
button {
  border: none;
  border-radius: 0.5rem;
  background-color: #e9f6ff;
  color: #29a8ff;
  font-size: 1rem;
  font-weight: 400;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}
td.col-span {
  width: 60%;
}
button#zero {
  width: 100%;
}
button#equal {
  height: 9.5rem;
}

/* Style numeric buttons */
.btn-number {
  padding: 1rem;
}

/* Style equal and operator button */
.btn-equal,
.btn-operator1 {
  background-color: #fff7eb;
  color: #ffc977;
  font-size: 2rem;
  font-weight: 500;
}

/* Style copyright text */
p {
  text-align: center;
  margin-top: 1.5rem;
}
span {
  font-weight: bold;
}

/* Independent styling */
#clear {
  font-size: 1rem;
  background-color: rgb(237, 255, 237);
  color: forestgreen;
}

#delete {
  font-size: 2rem;
  font-weight: 500;
  background-color: rgb(255, 231, 231);
  color: rgb(255, 88, 88);
}

/* Creating the mobile responsive screens */
@media screen and (max-width: 45rem) {
  body {
    width: 100vw;
    max-height: 100vh;
  }
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .display {
    height: 20vh;
    align-items: flex-end;
    line-height: 2.5rem;
  }
  button {
    width: 20vw;
    padding: 8%;
    height: 5rem;
  }
  button#equal {
    height: 10.5rem;
  }
}
